@model List<string>

@{
    ViewBag.Title = "Группировка овощей";
}

<h2>Овощи по алфавиту</h2>

@{
    var groupedVegetables = Model.GroupBy(v => v[0]).OrderBy(g => g.Key);
}

@foreach (var group in groupedVegetables)
{
    <h3>@group.Key</h3>
    <table class="table">
        @foreach (var vegetable in group)
        {
            <tr>
                <td>@vegetable</td>
            </tr>
        }
    </table>
}